<!-- Admin Modals Collection -->
<!-- This file includes all modal dialogs used in the admin interface -->

<!-- User Management Modals -->
{% include 'admin/modals/user_modal.html' %}
{% include 'admin/modals/edit_roles_modal.html' %}

<!-- Batch Management Modals -->
{% include 'admin/modals/register_batch_modal.html' %}
{% include 'admin/modals/upload_images_modal.html' %}
{% include 'admin/modals/run_inference_modal.html' %}
{% include 'admin/modals/batch_images_modal.html' %}

<!-- Building Management Modals -->
{% include 'admin/modals/building_modal.html' %}

<!-- Model Management Modals -->
{% include 'admin/modals/model_modal.html' %}

<!-- Pipeline Management Modals -->
{% include 'admin/modals/pipeline_modal.html' %}

<!-- Category Management Modals -->
{% include 'admin/modals/category_modal.html' %}
